.card {
    flex: 0 0 auto;
    display: flex;
    position: relative;
    flex-direction: column;

    height: 450px;
    width: 300px;
    min-width: 250px;

    border-radius: 16px;
    transition: .2s;
    margin: 0;
    scroll-snap-align: start;
    clear: both;
    overflow: hidden;
}

.card:focus-within~.card, .card:hover~.card {
    transform: translateX(130px);
}

.card:hover {
    transform: translateY(-1rem);
}

.card:not(:first-child) {
    margin-left: -130px;
}

@media screen and (max-width: 1200px) {
    .card {
        width: 300px;
    }
}

.cardHeader {
    display: flex;
    align-items: center;

    padding: 1rem;
}

.date {
    margin-left: 5px
}

.img {
    height: 40%;
    width: 100%; 
    object-fit: cover;
    box-shadow: 1px 3px 3 #000;
}

.content {

}