.main {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: var(--parallax-height);
  background-image: url("../../../public/header2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  
  align-items: center;
}

.main::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: MidnightBlue;
  opacity: 0.3;
}

.arrow {
  position: absolute;
  left: 50%;
  bottom: 1rem;

  width: 4rem;
  height: 4rem;
  transform: translateX(-50%);

  border-radius: 50%;

  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1.1);
	animation: pulse 2s infinite;

  cursor: pointer;
}

@keyframes pulse {
  0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1.1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

.arrow:hover svg {
  transform: scale(1.1);
}

.arrow svg {
  height: 100%;
  width: 100%;
  transition: transform .3s;

  color: whitesmoke;
}

.links {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;

  padding: 2px 2rem 2px 1rem;

  display: grid;
  grid-template-columns: 2fr 9fr 2fr;

  box-shadow: 0 1px hsla(0, 0%, 100%, 0.07);
  
}

.links>img {
  align-self: center;
  justify-self: start;
}

.headerSection {
  position: relative;
  color: white;
}


.headerSection h2 {
  padding: 1rem 0;
}

.createBuild {
  display: flex;
  align-items: center;
  cursor: pointer;

  transition: transform 0.2s;
}

.createBuild:hover svg {
  transform: translate(10px, 0);
}

.createBuild>svg {
  height: 2em;
  width: 2em;

  transition: transform 0.2s;
}

.link {
  color:#DFDFDF;
  cursor: pointer;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.link>svg {
  width: 40px;
  height: 40px;
}

.accountButton {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.accountMenu {

  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-75%, 25%);
}

.accountMenu hr {
  margin: 0 10px;
}

.profile {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.profile>h4 {
  white-space: nowrap;
}

.profileImg {
  border-radius: 50%;
}

.accountMenu>* {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 1rem;
  border-radius: var(--radius);
}